header {
    display: flex;
    justify-content: space-between;
    margin: 2.5% 3% 2.5% 3%;
    text-transform: uppercase;
    color: rgb(0, 0, 0, 1)
}

.profile-name {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 25px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-right {
    align-items: end;
}

.header-container-item {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

.clickable-header-item:hover {
    color: rgb(0, 80, 255, 1);
    cursor: pointer;
}
